@import "reset";

body {
  background-color: #1ea76e;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

h1, h2, h3, p {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  border-radius: 0.5rem;
}

/*.................HEADER...............*/
.header {
  background-color: #a79c94;
  position: relative;
  top: 0;
  width: 100%;
}

.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header--logo {
  width: 15rem;
  height: auto;
}

.header--logo img {
  width: 100%;
  height: auto;
}

.header--navbar--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding: 0.3rem;
}

.header--navbar--ul li {
  background-color: #17a860;
}

.header--navbar--ul li a {
  color: black;
  font-size: 1.6rem;
}

/*..............MAIN.........*/
.main--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main--container .section--principal {
  background-image: url(/assets/img/jazzmaster.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  width: 100%;
}

.main--container .section--principal h1 {
  color: blanchedalmond;
  font-size: 7rem;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 0.5rem 0.5rem black;
  position: relative;
  top: 10rem;
}

/*...............CARDS.........*/
.card {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 30rem;
  height: auto;
  margin: 4rem 4rem;
  color: #2d6b6d;
  border-radius: 0.8rem;
}

.card--titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/*...............FOOTER.........*/
.footer {
  background-color: blanchedalmond;
  width: 100%;
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer--container .footer--logo {
  width: 12rem;
  height: auto;
}

.footer--container .footer--logo img {
  width: 100%;
  height: auto;
}

.footer--navbar--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6rem;
  padding: 1rem;
}

.footer--navbar--menu .footer--navbar--item {
  width: 5rem;
  height: auto;
}

.footer--navbar--menu .footer--navbar--item img {
  width: 100%;
  height: auto;
}

.footer--navbar .footer--navbar--end {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 36rem) {
  .footer .footer--container {
    background-color: #054938;
    width: 100%;
    font-size: 1.5rem;
  }
}

.footer--container .footer--logo {
  width: 8rem;
  height: auto;
}

.footer--container .footer--logo img {
  width: 100%;
  height: auto;
}

.footer--navbar--menu .footer--navbar--item {
  width: 5rem;
  height: auto;
}

.footer--navbar--menu .footer--navbar--item img {
  width: 40%;
  height: auto;
}
